# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.viergewinnt.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Florian Rauchberger\Desktop\GitHub + Coding\GitHub\ImperialAirForce\viergewinnt\.idea\.idea.viergewinnt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
